body {
	font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
	'Arial', sans-serif;
	padding: 20px 20px 60px;
	max-width: 680px;
	margin: 0 auto;
}

.login {
	padding-top: 50px;
}


.inputpage {
	padding-top: 50px;
	display: flex;
	justify-content: space-evenly;
}

.budget {
	/*display: flex;*/
	justify-content: flex-start;
}


