html,
body {
  padding: 0;
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
*/
  font-family: Roboto, sans-serif;
  
	background-image: radial-gradient(circle, #d5f952, #c2ea43, #aedb34, #9bcd23, #88be0d);


}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.loginForm {
  padding-top: 100px;
  

}

.registerForm {

	padding-top: 50px;
	
}


